*.pyc
.vscode
output
output/
SIBR_viewers
SIBR_viewers/
logs
logs/
build
tensorboard_3d
# screenshots
# align.py
# build_dataset.py
# build_pc.sh
core.*
*.log

./submodules/panorama_*
./submodules/fisheye_gs_rasterizer_old